body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
    font-size: 13px;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #025F97;
    display: flex;
}

    /*.menu .hover-li-jquery:hover {
        background: #EDA235 !important;
    }*/


    .menu .menu-left {
        width: 30px;
        box-sizing: border-box;
    }

        .menu .menu-left .icon-left-header {
            height: 50px;
            padding: 0 5.5px;
            padding-top: 19px;
            box-sizing: border-box;
            background-color: #0277BD;
        }

            .menu .menu-left .icon-left-header img {
                cursor: pointer;
            }

        .menu .menu-left .menu-icon {
            background-color: #0277BD;
        }

            .menu .menu-left .menu-icon .menu-icon-li {
                height: 37px;
                box-sizing: border-box;
                border-top: 1px solid #3592CA;
                border-bottom: 1px solid #025F97;
                padding: 6.5px 3px;
            }

            .menu .menu-left .menu-icon .icon-contact {
                padding: 10.5px 6px;
            }

            .menu .menu-left .menu-icon .menu-drop-ul {
                background: #025F97
            }

                .menu .menu-left .menu-icon .menu-drop-ul .menu-drop-li {
                    height: 36px;
                    border-top: 1px solid #3592CA;
                    box-sizing: border-box;
                }

    .menu .menu-right {
        width: 200px;
        box-sizing: border-box;
    }

        .menu .menu-right .logo {
            height: 50px;
            padding: 11.5px 0;
            padding-left: 10px;
            box-sizing: border-box;
            background-color: #0277BD;
        }

        .menu .menu-right .menu-text {
            background-color: #0277BD;
        }

            .menu .menu-right .menu-text .menu-text-li {
                list-style-type: none;
                color: #ffffff;
                height: 37px;
                box-sizing: border-box;
                border-top: 1px solid #3592CA;
                border-bottom: 1px solid #025F97;
                line-height: 37px;
            }

            .menu .menu-right .menu-text .menu-drop-ul {
                background: #025F97
            }

                .menu .menu-right .menu-text .menu-drop-ul .menu-drop-li {
                    height: 36px;
                    border-top: 1px solid #3592CA;
                    box-sizing: border-box;
                    color: #ffffff;
                    line-height: 36px;
                    padding-left: 20px;
                }

                .menu .menu-right .menu-text .menu-text-li .icon-dropdown {
                    width: 17px;
                    height: 17px;
                    background-image: url('../Images/arraw.png');
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 5px;
                    margin-top: 9px;
                }

                .menu .menu-right .menu-text .menu-text-li .icon-dropup {
                    width: 17px;
                    height: 17px;
                    background-image: url('../Images/arraw-r.png');
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 5px;
                    margin-top: 9px;
                }

            .menu .menu-right .menu-text .icon-drop-right {
                width: 17px;
                height: 17px;
                background-image: url('../Images/arr-right.png');
                background-repeat: no-repeat;
                position: absolute;
                right: 4px;
                margin-top: 10px;
            }

.main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 230px;
    background: pink;
    margin: 10px;
}

.main-left-30px {
    left: 30px;
}

.bg-red {
    background: red;
}